@import url("components/navbar.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  color: #FFF;
}

h2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 28px;
  font-weight: 600;
  color: #FFF;
}
p {
  font-family: "Roboto", sans-serif;
  color: #2C2D2D;
}

#logo {
  width: 180px;
  height: 100px;
}

header {
  width: 100%;
  background: #FFF;
}
.home {
  display: flex;
}
.contact {
  flex-grow: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
}
li a {
  text-decoration: none;
  margin: 0.2rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.wrappper {
  width: 100%;
  background: white;
  padding-bottom:3rem;
}
.head {
  padding-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.divider {
  margin-left: 2rem;
  flex-grow: 1;
  height: 1px;
  background: #C3C3C3;
}

.whiteuh {
  height: 1000px;
  width: 100%;
  background:white;
}

.titre {
  padding: 0.5rem 1.5rem;
  background: rgba(32, 195, 164, 1);
  color: white;
  border-radius: 1px;
}

.photo-parallax {
  width: 100%;
  height: 40vh;
  background: url("../img/citynight.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  margin-bottom: 2rem;
}

.total-accroche {
  display: flex;
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 202px);
  border: 2px solid #FBD703;
}

.accroche3 {
  background: #FBD703;
  padding: 0 0.5rem;
}
#jesuis {
  color: black !important;
  font-size: 40px;
}

.accroche4 {
  background: transparent;
  padding: 0 0.5rem;
}
#passionne{
  font-weight: 300;
  font-size: 40px;
}

.wrapper-grey {
  width: 100%;
  height: 80vh;
  background: #F0F0F0;
}
