.card-image {
  height: 400px;
  width: 100%;
  background-image: url('../../img/alaune.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.little-card-image {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-text {
  padding: 1rem 0.5rem;
  text-align: justify;
}

.accroche1 {
  padding: 0.5rem 1.5rem;
  background: rgba(32, 195, 164, 1);
  color: white;
  border-radius: 1px;
  position: absolute;
  top: 10%;
  left: 10%;
}

.accroche2 {
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.tags {
  display: flex;
  width: 100%;
}
.tag {
  margin: 0.5rem;
  padding: 0 1rem;
  background: #C3C3C3;
  border-radius: 2px;
}
.tag p {
  margin: 0;
  color: white;
}

h4 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #2C2D2D;
}

.card-button {
  margin-bottom: 4rem;
  margin-top: 15px;
  background: #fff;
  border: 2px solid rgba(32, 195, 164, 1);
  border-radius: 2px;
  color: rgba(32, 195, 164, 1);
  transition: 0.3s ease;
}

.card-button:hover {
  transition: 0.3s ease;
  background: rgba(32, 195, 164, 1);
  color: #fff;
}

.row {
  margin-bottom: 2rem;
}
