.navbar {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  display: flex;
  width: 100%;
  margin: auto;

}

.button {
  padding: 0.5rem;
  width: 20%;
  height: 100%;
  text-align: center;
}

.button-nav {
  color: white;
  padding-left: 1rem;
  border-left: 0.4rem solid rgba(32, 195, 164, 0);
  transition: 0.3s ease;
}
.button-nav:hover {
  color: #20c3a4;
  border-left: 0.4rem solid rgba(32, 195, 164, 1);
  transition: 0.3s ease;
}


.search {
  background: #fff;
  padding: 0.5rem;
  width: 20%;
  height: 100%;
  display: flex;
  border-radius: 3px;
}
